:root {
  --primary-color1: #0900ca;
  --primary-color2: #d40000;
}
body {
  background-color: #e0e3f5;
}
header {
  background-color: black;
}
.navbar {
  z-index: 9999;
}

.card {
  z-index: 1;
}
.fullscreen-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.loaded {
  opacity: 0;
  pointer-events: none;
}
.container {
  max-width: 1200px;
  margin-top: 250px;
}
.video {
  width: 100%;
  aspect-ratio: 21/9;
}
.card {
  transition: transform 0.3s;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 15px;
}
.salle {
  padding: 100px;
}
.card:hover {
  transform: scale(1.2);
  border-color: #0900ca;
}

.logo {
  position: sticky;
  top: 0;
  left: 0;
  max-height: 200px;
  max-width: 400px;
}

.navbar {
  position: sticky;
  top: 0;
  right: 0;
}

.custom-container {
  padding: 25px;
}

.ep1500 {
  margin-top: 300px;
  cursor: default;
}
.ep1500photo {
  cursor: default;
}

.photo-column {
  display: flex;
  justify-content: center;
}

.photo-column .card {
  width: 100%;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.karting {
  transition: transform 0.3s;
}

.karting:hover {
  transform: scale(2.2);
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
  padding: 8px;
}
@media (max-width: 1200px) {
  .hide {
    display: none;
  }
}
