:root {
  --primary-color1: #0900ca;
  --primary-color2: #d40000;
}
body {
  background-color: #A7ADC3;
}
header {
  background-color: black;
}
.container {
  max-width: 1200px;
  margin-top: 450px;
}
.video {
  width: 100%;
  aspect-ratio: 21/9;
}
.card {
  transition: transform 0.3s;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 15px;
}

.card:hover {
  transform: scale(1.2);
  border-color: #0900ca;

}

.logo {
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  position: sticky;
  top: 0;
  right: 0;
}

.custom-container {
  padding: 25px;
}

.photo-column {
  display: flex;
  justify-content: center;
}

.photo-column .card {
  width: 100%;
}

.table-bordered {
  border: 1px solid #dee2e6;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
  padding: 8px;
}
@media (max-width: 1200px) {
  .hide {
    display: none;
  }
}
